<template lang="html">
	<label>
		<span>
			Select a Color
		</span>
		<input type="color" :value="value" @change="$emit('input', $event.target.value)" />
	</label>
</template>

<script>
	export default {
		name: 'ColorInput',
		props: {
			value: {
				type: String,
				default: '#000000'
			}
		}
	};
</script>
