<template lang="html">
	<main>
		<h1>
			Color Contrast Checker
		</h1>
		<form>
			<fieldset>
				<legend>
					Background Color
				</legend>
				<ColorInput v-model="bgColor" />
			</fieldset>
			<fieldset>
				<legend>
					Foreground Color
				</legend>
				<ColorInput v-model="fgColor" />
				<label>
					<span>
						Or, find one automatically
					</span>
					<button type="button" @click="generateForegroundColor">
						Generate
					</button>
				</label>
			</fieldset>
		</form>
		<section>
			<h2>
				Example
			</h2>
			<SampleText :background-color="bgColor" :foreground-color="fgColor" />
		</section>
	</main>
</template>

<script>
	import a11ycolor from 'a11ycolor';
	import ColorInput from '~/views/ColorInput.vue';
	import invertColor from 'invert-color';
	import SampleText from '~/views/SampleText.vue';

	export default {
		name: 'Main',
		components: {
			ColorInput,
			SampleText
		},
		data () {
			return {
				bgColor: '#eee',
				fgColor: '#111'
			};
		},
		methods: {
			generateForegroundColor () {
				this.fgColor = a11ycolor(invertColor(this.bgColor), this.bgColor, 'small');
			}
		}
	};
</script>
