<template lang="html">
	<p :style="`background-color: ${backgroundColor}; color: ${foregroundColor}`">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at
		nisl sed mi pretium vehicula. Duis id venenatis leo. Etiam ut faucibus
		leo, ac consectetur dolor. Class aptent taciti sociosqu ad litora
		torquent per conubia nostra, per inceptos himenaeos. Sed pretium
		accumsan hendrerit. Phasellus nec rhoncus ex. Nulla porttitor tempus
		augue. Donec interdum urna ornare, ullamcorper neque in, laoreet ex.
		Etiam feugiat enim ac lacinia mattis. Ut varius commodo ante ac
		pharetra. Nam lacinia placerat ipsum, bibendum auctor justo imperdiet
		vel. Pellentesque vitae nisi blandit, gravida urna in, venenatis risus.
		Etiam ut aliquet leo. Nullam pulvinar a dolor quis consectetur. Ut vel
		eros a diam vehicula tempor.
	</p>
</template>

<script>
	export default {
		name: 'SampleText',
		props: {
			backgroundColor: {
				type: String,
				required: true,
				default: '#eee'
			},
			foregroundColor: {
				type: String,
				required: true,
				default: '#111'
			}
		}
	};
</script>
